<nav>
    {{#if userId }}
    <p class="greeting">hello {{userFirst}}, welcome back!</p>
    <button type="button" class="nav-btn" id="nav-logout">log out</button>
    {{else}}
    <form action="/login" method="post" id="nav-form">
        <input type="email" name="email" id="nav-email" placeholder=" e-mail" required>
        <input type="password" name="password" id="nav-password" placeholder=" password" required>
        <button type="submit" class="nav-btn" id="nav-login">log in</button>

        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <button type="button" class="nav-btn" id="nav-signup">sign up</button>
    {{/if}}
</nav>