<header>
    <img src="horseshoe-crab.jpg" alt="a horseshoe crab on a beach" id="bkg-img">
    <h1 class="headline">did you know</h1>
    <h2 class="headline">that horseshoe crab blood is <strong>blue</strong>?</h1>
</header>

<main>
    <h1 class="headline">did you know</h1>
    <h3 class="headline">that up to <strong>150.000</strong> horseshoe crabs die <strong>every year</strong> as a consequence of blood harvesting by the pharmaceutical industry?</h3>
   
    <p>horseshoe crabs have been around for over <strong>200 million years</strong> and are considered a <strong>living fossil</strong>. take action now to prevent them from becoming a <strong><em>fossil</em> fossil</strong>.</p>

    <p>find out more on <a href="https://en.wikipedia.org/wiki/Horseshoe_crab#Harvest_for_blood">wikipedia</a> or on <a href="https://www.theatlantic.com/technology/archive/2014/02/the-blood-harvest/284078/">the atlantic</a>.</p>

    <div id="go-sign" class="shadowed">
        <div class="go-sign-text">sign!</div>
    </div>
    
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="home.js"></script>