<div class="frame-container">
    <div class="form-container">
        <form action="/petition" method='post' id="signature-form">
            <input type="hidden" name="signature" id="signature-img-data">
            <canvas id="signature-canvas" width="500" height="150">canvas for the signature</canvas>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>

        <div id="tail"></div>
        <button form="signature-form" class='btn' type='reset' id='reset'>Reset</button>
        <button form="signature-form" class='btn' type='submit' id='submit'>Submit</button>
    </div>
</div>


<script src="petition.js"></script>