.letter {
    position: relative;
    max-width: 700px;
    background: #dfdfdf;
    color: #333333;
    padding: 3rem 2rem 0 2rem;
    margin: 3rem 3rem 1rem 3rem;
    box-shadow: #000000 10px 10px 5px 5px;
    font-family: "Syne Mono", Courier, monospace;
    font-size: 1.5rem;
}

.letter p {
    font-size: 1.3rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    margin: 20px;
    background: linear-gradient(
        to right,
        /* rgba(237, 106, 94, 0.6), */ rgba(209, 56, 191, 0.6),
        rgba(37, 77, 71, 0.6)
    );
    color: #dfdfdf;
    font-weight: bold;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
}

button:hover {
    font-style: italic;
}

button:active {
    box-shadow: 2px 2px 5px #111111;
}

input {
    font-family: "Syne Mono", Courier, monospace;
    font-size: 1.5rem;
    background: none;
    border: none;
    border-bottom: 2px solid #333333;
    margin: 2px;
}

#first-name {
    grid-column: 2;
    grid-row: 1;
}

#last-name {
    grid-column: 3;
    grid-row: 1;
}

#e-mail {
    grid-column: 2/4;
    grid-row: 2;
}

#signature-form {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#signature-canvas {
    border: 1px dashed #666666;
    border-radius: 1em;
    margin: 2em;
    grid-column: 1 / 4;
    grid-row: 3;
}

.invalid {
    border: 2px solid red;
}

.error-msg {
    display: block;
    background: rgba(255, 0, 0, 0.7);
    border: 2px solid red;
    width: 100%;
    text-align: center;
}

.paper {
    background-color: #dfdfdf;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8), inset 0 0 50px rgba(0, 0, 0, 0.3);
}
.paper:before,
.paper:after {
    position: absolute;
    width: 40%;
    height: 10px;
    content: " ";
    left: 12px;
    bottom: 12px;
    background: transparent;
    transform: skew(-5deg) rotate(-5deg);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.paper:after {
    left: auto;
    right: 12px;
    transform: skew(5deg) rotate(5deg);
}
