body {
    overflow: hidden;
}

.content-container {
    position: relative;
    background: var(--white);
    color: var(--blue);
    border: 5px solid var(--turquoise);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
}

.page-title {
    margin: 10px;
}

.subtitle {
    margin: 0;
    font-size: 1.5rem;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 0 0.5rem;
    margin-bottom: 0;
}

.form-row {
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
}

.form-row * {
    font-size: 1.5rem;
    font-family: var(--monospace);
    margin: 0rem 1rem;
}

.form-row label {
    flex: 1;
}

.form-row input {
    flex: 2;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}

.signature {
    border: 2px dashed var(--turquoise);
    margin: 2rem 0;
}
